<div class="container row">
    <h3>Sign Up</h3>
    <p class="flow-text">It's that easy. Sign-up for an account, set an alarm, and snooze your way home.</p>
    <form ng-submit="userSignup()" class="col s12">
        <div class="form-group">
            <input type="text" id="firstName" placeholder="First Name" ng-model="user.firstName">
            <input type="email" id="email" placeholder="Email Address" ng-model="user.email">
            <input type="password" id="password" placeholder="Password" ng-model="user.password">
            <input type="tel" id="phoneNumber" placeholder="Phone Number" ng-model="user.phoneNumber">
        </div>
        <input type="submit" id="submit" value="submit" name="action" class="btn-large deep-orange lighten-1 col s12">
    </form>
</div>
</div>
