<div class="row container">
    <h3>Log In</h3>
    <form ng-submit="userLogin()" class="col s12">
        <div class="form-group">
            <div class="input-field col s12 m6">
                <input type="email" id="email" placeholder="Email Address" ng-model="user.email">
            </div>
            <div class="input-field col s12 m6">
                <input type="password" id="password" placeholder="Password" ng-model="user.password">
            </div>
        </div>
        <input class="btn-large col s12 deep-orange lighten-1" type="submit" id="submit"></input>
    </form>
</div>
